#root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

   .marquee {
    
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
  } 

  .marquee {
    display: inline-block;
    animation: scroll-left 5s linear infinite ;
  }

  @keyframes scroll-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }




@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";





